.fbra_choose_yourItem,
.fbra_quantity-update,
.fbra_items_unavailable  {
	@include font-size($font-size-extra-large);

	margin-bottom: 10px;
	font-family: $font-light;
	font-weight: normal;
}

.fbra_itemDescription,
.fbra_quantityUpdate--productDetails,
.fbra_quantityUpdate--itemDetails {
	color: $color-body-copy-secondary;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.fbra_productItem_title {
	font-family: $font-bold;
}

.fbra_formBasedModel__section {
	.fbra_label {
		font-weight: normal;
		margin-bottom: 5px;
	}
	.fbra_formItem {
		@extend .fbra_gridItem--col-sm-6;
		@extend .fbra_gridItem--col-xs-12;
	}
}
.fbra_formBasedModel,
.fbra_simpleActionModal {
	padding: 0 $spacing-default;
}

.fbra_formBasedModal__form {
	.fbra_formItem {
		@extend .fbra_gridItem--col-sm-12;
		@extend .fbra_gridItem--col-xs-12;

		margin-bottom: 10px;
	}
}

.fbra_listProduct__items {
	padding: 0 0 0 50px;
	margin-top: 0;
}

.fbra_itemProduct_contactDetails,
.fbra_quantityUpdate--contactDetails {
	color: $color-body-copy;
	font-family: $font-bold;
	margin-bottom: 30px;
}

.fbra_noStock_details {
	color: $color-body-copy-secondary;
	margin-top: 0px;
}

.fbra_noStock_product {
	@extend .fbra_gridItem--row;

	margin-bottom: $spacing-default;
}

.fbra_noStock_image {
	@extend .fbra_gridItem--col-sm-1;
	@extend .fbra_gridItem--col-xs-3;
}

.fbra_noStock_productDetails {
	@extend .fbra_gridItem--col-sm-10;
	@extend .fbra_gridItem--col-xs-7;
	@include font-size($font-size-small);

	vertical-align: top;
	padding-left: 15px;
}

.fbra_noStock--pack {
	@extend .fbra_gridItem--col-sm-12;
	@extend .fbra_gridItem--col-xs-12;
	@include font-size($font-size-extra-small);

	color: $color-body-copy-secondary;
	font-family: $font-bold;
}

.fbra_noStock--available {
	@extend .fbra_noStock--pack;

	margin-top: 2%;
}

.fbra_noStock--productName {
	@extend .fbra_gridItem--col-sm-12;
	@extend .fbra_gridItem--col-xs-12;
}

.fbra_simpleActionModal__actionButtons {
	.fbra_formItem {
		@extend .fbra_gridItem--col-sm-6;
		@extend .fbra_gridItem--col-xs-12;

		margin-bottom: 0px;
	}
}

.fbra_simpleActionModal__orText {
	@extend .fbra_gridItem--col-sm-6;
	@extend .fbra_gridItem--col-xs-12;
	@extend .fbra_centerAlign;
}

.fbra_quantityUpdate--itemList {
	color: $color-body-copy;
	font-family: $font-bold;
}

.fbra_quantityUpdate--details {
	color: $color-body-copy;
	list-style-type: disc;
	padding-left: 0px;
}
