<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../../../../dist/main.css" rel="stylesheet" type="text/css"> 

<div data-reactid=".1" class="fbra_falabellaComponent fbra_falabellaComponentCheckoutDeliverAndCollect"><div data-reactid=".1.0" class="fbra_appContainer fbra_test_appContainer">
<noscript data-reactid=".1.0.0"></noscript>
<div data-reactid=".1.0.1" class="fbra_deliveryGroupsContainer fbra_test_deliveryGroupsContainer"><div data-reactid=".1.0.1.1" class="fbra_deliveryGroupsContainer__deliveryGroupsContent fbra_test_deliveryGroupsContainer__deliveryGroupsContent">
<div data-reactid=".1.0.1.1.0" class="fbra_tabSet fbra_deliveryGroupTabs fbra_test_deliveryGroupTabs">
<div data-reactid=".1.0.1.1.0.0" class="fbra_tab fbra_deliveryGroupTabs__tab fbra_deliveryGroupTabs__tab--delivery fbra_test_deliveryGroupTabs__tab fbra_test_deliveryGroupTabs__tab--delivery fbra_tab--disabled fbra_tab--active">
<img data-reactid=".1.0.1.1.0.0.0" class="fbra_image fbra_deliveryGroupTabs__image fbra_test_deliveryGroupTabs__image" title="" alt=""><h3 data-reactid=".1.0.1.1.0.0.1" class="fbra_heading fbra_deliveryGroupTabs__heading fbra_test_deliveryGroupTabs__heading">Deliver to Address</h3>
<span data-reactid=".1.0.1.1.0.0.2" title="" class="fbra_text fbra_deliveryGroupTabs__text fbra_test_deliveryGroupTabs__text">From $3.990</span>
</div>
<div data-reactid=".1.0.1.1.0.1" class="fbra_tab fbra_deliveryGroupTabs__tab fbra_deliveryGroupTabs__tab--collect fbra_test_deliveryGroupTabs__tab fbra_test_deliveryGroupTabs__tab--collect fbra_tab--disabled fbra_tab--inactive">
<img data-reactid=".1.0.1.1.0.1.0" class="fbra_image fbra_deliveryGroupTabs__image fbra_test_deliveryGroupTabs__image" title="" alt=""><h3 data-reactid=".1.0.1.1.0.1.1" class="fbra_heading fbra_deliveryGroupTabs__heading fbra_test_deliveryGroupTabs__heading">Collect your order</h3>
<span data-reactid=".1.0.1.1.0.1.2" title="" class="fbra_text fbra_deliveryGroupTabs__text fbra_test_deliveryGroupTabs__text">From Free</span>
</div>
</div>
<p data-reactid=".1.0.1.1.1" title="" class="fbra_paragraph fbra_deliveryGroupsContainer__guestNoLocationMessage fbra_test_deliveryGroupsContainer__guestNoLocationMessage fbra_test_guestNoLocation__message">Please choose your delivery or collection location first.</p>
</div></div>
<div data-reactid=".1.0.2" class="props context refs updater state _reactInternalInstance"></div>
</div></div>