<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="../../../../dist/main.css" rel="stylesheet" type="text/css">

<div data-reactid=".1" class="fbra_falabellaComponent fbra_falabellaComponentCheckoutDeliverAndCollect"><div data-reactid=".1.0" class="fbra_appContainer fbra_test_appContainer">
<noscript data-reactid=".1.0.0"></noscript>
<div data-reactid=".1.0.1" class="fbra_deliveryGroupsContainer fbra_test_deliveryGroupsContainer"></div>
<div data-reactid=".1.0.2" class="props context refs updater state _reactInternalInstance"></div>
</div></div>